@charset "UTF-8";

.sub_wrap { background: #efefef; }

.sub_title { 
    background: #fff;
    border-bottom: 1px solid #b9b9b9;
}
.sub_title h2 {
    text-align: center;
    line-height: 50px;
    font-size: 25px;
}

.sub_con {}
.sub_con > p {
    padding: 20px 0 10px 12px;
    font-size: 14px;
}
.sub_search{
    position: relative;
    background: #fff;
    border: 1px solid #e8e8e8;
    margin: 0 12px;
    padding: 25px 17px 17px;
    border-radius: 3px;
}
input.sub_search_input { 
    border: none; /* 기존 input border 값을 none 으로 지우고 새로운 css 적용 */
    border-bottom: 1px solid #e8e8e8;
    height: 30px;
    width: calc(100% - 70px);
    outline: none;
    padding-left: 10px;
}
input.sub_search_input::placeholder{
    color: #999;
    font-size: 12px;
}
button.sub_search_btn {
    position: absolute;
    right: 17px;
    display: inline-block; /* 줄 바꿈 될 수 있어서 inline-block 넣어 줌 */
    padding: 8px 12px;
    border: none;
    width: 50px;
    background: #666;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
}

ul.conlist { 
    padding: 20px 6px 0;
    overflow: hidden;
}
.conlist li { 
    float: left;
    width: 50%;
    padding: 6px;
}
.conlist li a {
    display: block;
    height: 100px;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 2px;
    text-align: center;
}
.conlist img {}


